<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="header">
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}"> <img
						th:src="@{/img/bookstore-logo.jpg}" alt="logo" />
					</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/books}">Books</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="isAuthenticated()"><a
							sec:authentication="name">User</a></li>
						<li sec:authorize="isAuthenticated()"
							style="display: inline-block;">
							<form th:action="@{/logout}" th:method="post" id="logout">
								<button type="submit" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-log-out"></span> Log out
								</button>
							</form>
						</li>
						<li sec:authorize="isAnonymous()" style="display: inline-block;"><a
							th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>
								Login</a></li>
					</ul>
				</div>
				<div></div>
			</div>
		</nav>
	</th:block>
</body>
</html>




